# Dependencies
node_modules/
__pycache__/
*.pyc

# Environment variables (thong tin ca nhan)
.env
.env.local
.env.*.local

# Build output
dist/
dist-ssr/
build/

# Logs
logs/
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
